D:/MyProject/SoulStrike_imitation_GT/SoulStrike_GT/Assets/3DGamekit/Scenes/Data/LightingData/Level1/LightingData.asset filter=lfs diff=lfs merge=lfs -text
D:/MyProject/SoulStrike_imitation_GT/SoulStrike_GT/Assets/3DGamekit/Scenes/Data/LightingData/Level2/LightingData.asset filter=lfs diff=lfs merge=lfs -text
D:/MyProject/SoulStrike_imitation_GT/SoulStrike_GT/Assets/3DGamekit/Scenes/GamePlay/Level1/LightingData.asset filter=lfs diff=lfs merge=lfs -text
D:/MyProject/SoulStrike_imitation_GT/SoulStrike_GT/Assets/3DGamekit/Scenes/GamePlay/Level2/LightingData.asset filter=lfs diff=lfs merge=lfs -text
